/* Variables */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #293449;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;

  --white: #ffffff;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;

  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
}

img {
  width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}

.body-page {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24;
  font-weight: 400;
  background-color: var(--basic-background);
}

.header-navigation {
  background-color: var(--basic-grey);
}
